
html, body {
	margin: 0;
	padding: 0;
	font-weight: 100;
}

.background {
	width: 100%;
	height: 100vh;
	background-image: url('static/default-background.jpg');
	background-position: center center;
	background-size: cover;
}

.filter {
	width: 100%;
	height: 100vh;
	background-color: #222;
	opacity: .5;
	position: absolute;
}

.input {
	position: relative;
	z-index: 10;
	width: 100%;
	top: 45%;
	vertical-align: bottom;
}

.input input {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;

	border: none;
	border-bottom: 1px solid rgba(255,255,255,.1);
	width: 300px;
	height: 0px;
	font-size: 200%;
	opacity: .6;
	outline: none;
	color: rgba(255,255,255,.7);
	background-color: transparent;
	padding: 10px;
	padding-bottom: 20px;

	transition: all .2s ease-in;
}

.input input:focus {
	border-bottom: 1px solid rgba(255,255,255,.7);	
}

.input button {
	font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;

	width: 75px;
	height: 50px;
	font-size: 200%;
	border: none;
	color: transparent;
	background-color: transparent;
	text-shadow: 0 0 2px rgba(255,255,255,.7);
	outline: none;
	cursor: pointer;
	position: relative;
	top: 1px;

	transition: all .2s ease-in;
}

.input button:hover {
	text-shadow: 0 0 2px transparent;
	color: rgba(255,255,255,.7);
}

.result {
	position: absolute;
	bottom: 10%;
	width: 100%;
	height: auto;
	z-index: 10;
}

.city {
	transition: all .3s ease-in;
	font-family: 'Roboto';
	font-style: normal;;
	font-weight: 500;
	font-size: 28px;

	color: rgba(255,255,255,.8);

	opacity: 0;
}

.output {
	transition: all .3s ease-in;
	font-family: 'Roboto';
	font-style: normal;;
	font-weight: 500;
	font-size: 40px;

	color: rgba(255,255,255,.8);

	opacity: 0;
}