@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

*::selection {
  background: transparent;
}

/*=========TOOLBAR=============*/
::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: hidden;
}

.toolbar {
  width: 100%;
  height: 25px;
  position: absolute;
}

.buttons {
  padding-right: 3px;
  width: 30%;
  height: 100px;
  position: fixed;
  float: left;
}

.button-close {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 5px;
  background: -webkit-linear-gradient(top, #e36742 0%, #e55336 100%);
  transition: all .2s ease-in-out;
}

.button-close:hover {
  box-shadow: 0 0 10px .3px rgba(229, 83, 54, .5);
}

.button-expand {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 25px;
  background: #f9b041;
  transition: all .2s ease-in-out;
}

.button-expand:hover {
  box-shadow: 0 0 10px .3px rgba(249, 176, 65, .5);
}

.button-turn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 45px;
  background: #cfd0d2;
  transition: all .2s ease-in-out;
}

.button-turn:hover {
  box-shadow: 0 0 10px .3px rgba(207, 208, 210, .5);
}

.drag-area {
  height: 40px;
  margin-left: 60px;
  z-index: 9;
  -webkit-app-region: drag;
}
/*===========article==============*/
.article {
  box-sizing: border-box;
  user-select: all;
  float: left;
  width: 60%;
  min-height: 100vh;
  background: #fff;
  border-right: 1px solid #ccc;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-family: "Roboto-Light";
  color: rgba(0, 0, 0, .5);

  padding: 3rem 3rem 3rem 3rem;
}

.article-weather {
  height: 30rem;
  width: 9rem;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  top: -100px;
  left: 55%;

  transform:rotate(-90deg) translateY(-100px);
}

.article-data {
  margin: 2rem 0;
}

.search-button {
  position: relative;
  float: right;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../img/search.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  padding: 5px;
}

::-webkit-input-placeholder {color: rgba(0, 0, 0, .3);}

.search-button:hover {
  opacity: .8;
}

.modal {
  position: absolute;
  width: 20rem;
  height: 55px;
  top: 40px;
  right: 10px;
  /*left: 500px;*/
  z-index: -1;

  transition: all .2s ease-in-out;
}

.modal input {
  position: relative;
  top: 2px;
  width: 96%;
  height: 70%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .6);
  outline: none;
  padding: 5px;
  font-size: 35px;
  font-family: "Roboto-Light";
  color: rgba(0, 0, 0, .8);
}

.modal input::selection {
  background-color: rgba(0, 0, 0, .2);
}

.modal-opened {
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
  opacity: 1;
}

.modal-closed {
  background-color: transparent;
  opacity: 0;
}

.article-date-day,
.article-date-month {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
}

.article-search-input::selection {
  color: rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .2);
}

.article-data {
  display: flex;
}

.article-data-temperature {
  padding: 0;
  margin: 0;
  font-size: 6rem;
  font-weight: lighter;
  color: #91bbff;

  transform:rotate(-180deg) translateY(-10px);
}

.article-data-icon {
  padding-left: 1rem;
  margin: 1rem 0;
  width: 5rem;
  align-self: flex-start;
}

.article-weather {
  min-height: 30rem;
  width: 35%;
  padding-right: 0;
  margin: 0;
 display: inline-block;

}

.article-weather-item {
  height: 33.33%;
  padding:0;
  transform: rotate(90deg);
  transform-origin: right top;
  font-size: .6rem;
  text-align: center;

  display: flex;
  flex-flow: column nowrap;
}

.article-weather-item-icon {
  margin: 0 auto;
  width: 3rem;
  height: 30%;
}

.article-weather-item-day {
  margin: 1rem auto .3rem;
  width: 30%;
}


.article-weather-item-temperature {
  margin: .6rem auto;
  width: 30%;
}

/*==========ASIDE============*/
.aside {
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
  width: 40%;
  height: 100vh;
}
/*==========MEDIA============*/
@media (max-width: 600px) {
  .article {
    width: 100%;
  }
  .article-weather {
    padding: 0 ;
    margin: 0;
  }
  
  .article-wrap {
   
  }
  .aside {
    display: none;
  }
  .modal {
    right: 50px;
  }
}
