@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

*::selection {
  background: transparent;
}

/*=========TOOLBAR=============*/
::-webkit-scrollbar {
  width: 0;
}

.toolbar {
  width: 100%;
  height: 25px;
  position: absolute;
}

.buttons {
  padding-right: 3px;
  width: 30%;
  height: 100px;
  position: fixed;
  float: left;
}

.button-close {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 5px;
  background: -webkit-linear-gradient(top, #e36742 0%, #e55336 100%);
}

.button-expand {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 25px;
  background: #f9b041;
}

.button-turn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 45px;
  background: #cfd0d2;
}

.drag-area {
  height: 40px;
  margin-left: 60px;
  z-index: 9;
  -webkit-app-region: drag;
}
/*===========article==============*/
.article {
  box-sizing: border-box;
  user-select: all;
  float: left;
  width: 60%;
  min-height: 100vh;
  background: #fff;
  border-right: 1px solid #ccc;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-family: "Roboto-Light";
  color: rgba(0, 0, 0, .5);

  padding: 3rem 3rem 3rem 3rem;
}

.article-weather,
.article-data,
.article-date {

}

.article-data {
  margin: 2rem 0;
}

.search-button {
  position: relative;
  float: right;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../img/search.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  padding: 5px;
}

.search-button:hover {
  opacity: .8;
}

.modal {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: -1;

  transition: all .2s ease-in-out;
}

.modal input {
  position: relative;
  top: 35%;
  left: 5rem;
  width: 70%;
  height: 20px;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .6);
  outline: none;
  padding: 5px;
  font-size: 15px;
  font-family: "Roboto-Light";
}

.modal input::selection {
  background-color: rgba(0, 0, 0, .3);
}

.modal-opened {
  z-index: 99;
  background-color: rgba(0, 0, 0, .5);
  opacity: 1;
}

.modal-closed {
  background-color: transparent;
  opacity: 0;
}

.article-date-day,
.article-date-month {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
}

.article-search-input::selection {
  color: rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .2);
}

.article-data {
  display: flex;
}

.article-data-temperature {
  padding: 0;
  margin: 0;
  font-size: 6rem;
  font-weight: lighter;
  color: #91bbff;
}

.article-data-icon {
  padding-left: 1rem;
  margin: 0;
  width: 5rem;
  align-self: flex-start;
}

.article-weather {
  padding-right: 0;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
}

.article-weather-item {
  flex-basis: 14%;

  font-size: .7rem;
  text-align: center;
}

.article-weater-item-icon {
  padding: 1rem 0;
  width: 70%;
}

/*==========ASIDE============*/
.aside {
  margin: 0;
  padding: 0;
  display: inline-block;
  box-sizing: border-box;
  background: url("../img/background.jpg");
  background-size: cover;
  background-position: center center;
  width: 40%;
  height: 100vh;
}
/*==========MEDIA============*/
@media (max-width: 600px) {
  .article {
    width: 100%;
  }
  .article-weather {
    padding: 0 ;
  }
  .aside {
    display: none;
  }
}
