@font-face {
  font-family: "Roboto";
  src: url(../fonts/Roboto-Black.ttf);
}

@font-face {
  font-family: "Roboto-Thin";
  src: url(../fonts/Roboto-Thin.ttf);
}

@font-face {
  font-family: "Roboto-Light";
  src: url(../fonts/Roboto-Light.ttf);
}

@font-face {
  font-family: "Roboto-Medium";
  src: url(../fonts/Roboto-Medium.ttf);
}

*::selection {
  background: transparent;
}

/*=========TOOLBAR=============*/
::-webkit-scrollbar {
  width: 0;
}

body {
  overflow: hidden;
}

.toolbar {
  width: 100%;
  height: 25px;
  position: absolute;
}

.buttons {
  padding-right: 3px;
  width: 30%;
  height: 100px;
  position: fixed;
  float: left;
}

.button-close {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 5px;
  background: -webkit-linear-gradient(top, #e36742 0%, #e55336 100%);
}

.button-expand {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 25px;
  background: #f9b041;
}

.button-turn {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  cursor: pointer;
  opacity: .9;
  z-index: 10;

  position: absolute;
  top: 5px;
  left: 45px;
  background: #cfd0d2;
}

.drag-area {
  height: 40px;
  margin-left: 60px;
  z-index: 9;
  -webkit-app-region: drag;
}
/*===========article==============*/
.no-data {
  opacity: .1;
}

.article {
  box-sizing: border-box;
  user-select: all;
  float: left;
  width: 60%;
  min-height: 100vh;
  background: #fff;
  border-right: 1px solid #ccc;

  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  font-family: "Roboto-Light";
  color: rgba(0, 0, 0, .5);

  padding: 3rem 3rem 0rem 3rem;
}

.article-data {
  margin: 2rem 0;
  -webkit-transition: all .4s ease-in-out;
}

.search-button {
  position: relative;
  float: right;
  right: 10px;
  width: 30px;
  height: 30px;
  background-image: url("../img/search.svg");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: center center;
  cursor: pointer;
  transition: all .2s ease-in-out;
  padding: 5px;
}

::-webkit-input-placeholder {color: rgba(0, 0, 0, .3);}

.search-button:hover {
  opacity: .8;
}

.modal {
  position: absolute;
  width: 37%;
  height: 55px;
  top: 40px;
  right: 10px;
  /*left: 500px;*/
  z-index: -1;

  transition: all .2s ease-in-out;
}

.modal input {
  position: relative;
  top: 3px;
  width: 96%;
  height: 70%;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, .8);
  background-color: rgba(255, 255, 255, .6);
  outline: none;
  padding: 5px;
  font-size: 35px;
  font-family: "Roboto-Light";
  color: rgba(0, 0, 0, .8);
}

.modal input::selection {
  background-color: rgba(0, 0, 0, .2);
}

.modal-opened {
  z-index: 99;
  background-color: #fff;
  box-shadow: 0 0 10px 2px rgba(0, 0, 0, .4);
  opacity: 1;
}

.modal-closed {
  background-color: transparent;
  opacity: 0;
}

.article-date-day,
.article-date-month {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-size: 2rem;
  display: inline-block;
}

.article-search-input::selection {
  color: rgba(255, 255, 255, .8);
  background-color: rgba(0, 0, 0, .2);
}

.article-data {
  display: flex;
}

.article-data-temperature {
  padding: 0;
  margin: 0;
  font-size: 6rem;
  font-weight: lighter;
  color: #91bbff;
}

.article-data-icon {
  padding-left: 1rem;
  margin: 0;
  width: 5rem;
  align-self: flex-start;
}

.article-weather {
  height: 23rem;
  width: 9rem;
  overflow-y: auto;
  overflow-x: auto;
  position: relative;
  top: -100px;
  left: 55%;
  right: 0;
  white-space:nowrap;
  padding: 0;
  margin: 0;
  box-shadow:
          inset 0 10px 10px -9px rgba(150, 150, 150, .1),
          inset 0 -10px 10px -9px rgba(150, 150, 150, .1),
          inset 10px 0 0 0 #fff,
          inset -10px 0 0 0 #fff;
  border-radius: 8px;

  transform:rotate(-90deg) translateY(-100px);
  -webkit-transition: all .4s ease-in-out;
}

.article-weather-item {
    height: 16%;
 
  padding-left: 4rem;
  padding-top: 1rem;
  transform: rotate(90deg);
  transform-origin: right top;
  font-size: .6rem;
  text-align: center;
}

.article-weater-item-icon {
  padding: 0rem 0;
  width: 3rem;
}

/*==========ASIDE============*/
.aside {
  display: inline-block;
  box-sizing: border-box;
  width: 40%;
  height: 100vh;
}
.bg-image {
  width: 100%;
  height: 100vh;
  object-fit: cover;
}
/*==========MEDIA============*/
@media (min-width:470px) and (max-width:650px) {
  .article-weather {
    top: -150px;
    min-height: 24rem;
    float: left;
  }
  .article-weather-item {
    min-height: 15%;
     padding-left: 4rem;

  }
  .search-button {
    right: 5%;
  }
}
@media (max-width: 650px) {
  .article {
    width: 100%;
  }
  .article-weather {
    height: 18rem;
    margin-top: 6rem;
    margin-left: .3rem;
  }

  .article-weather-item {
    padding-left: 5rem;
    height: 15%;
  }

  .aside {
    display: none;
  }
  .modal {
    width: 58%;
    right: 120px;
  }
}


